#recent-posts
    max-width: 40%;
    padding: 0px 5px;
    height: auto;
    margin: 0 auto;
    line-height: 2;
    
@media (max-width: 768px) 
    #recent-posts
        max-width: 100%;
        padding: 0px 5px;
        height: auto;
        margin: 0 auto;
        line-height: 2;
.post-title
    text-align: center;
    text-decoration: none;
    font-size: 1.8em;
    color: var(--text);
.readmore
    text-align: center;
    margin-top: 1.618em;
    color: var(--text);
.post-meta 
    font-size: 80%;
    text-align: center;
.post-meta-item
    margin: 0.25em;
    display: inline-block;
    color: var(--meta);
    a 
      color: var(--meta);

    
